
$theme-color-interval: 8%;
$primary: #4353FF;
$purple: #6f42c1;
$secondary: $purple;
$body-bg: #1e1f21;
$white: #fff;
$body-color: $white;
$gray-300: #dee2e6;
$light: $gray-300;
$yiq-text-light: $white;
$gray-800: #343a40;
$dark: $gray-800;