{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Shortener</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'shortener_app/css/style.css' %}">
</head>

<body>

	{% include "shortener_app/header.html" %}

	<main class="mt-sm-5 pt-3 mb-5 main">
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</main>

	{% include "shortener_app/footer.html" %}

  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1217253,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
	<script src="{% static 'shortener_app/js/vendor/jquery.min.js' %}"></script>
	<script src="{% static 'shortener_app/js/vendor/popper.min.js' %}"></script>
	<script src="{% static 'shortener_app/js/vendor/bootstrap.min.js' %}"></script>
	<script src="{% static 'shortener_app/js/app.min.js' %}"></script>
	{% block javascript_data %}
	{% endblock %}
</body>

</html>
