{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Shortener</title>
		<link href="https://fonts.googleapis.com/css?family=Heebo:400,400i,500,700|Titillium+Web:600" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'shortener_app/css/style.css' %}">
	</head>
	<body class="is-boxed">

		{% include "shortener_app/header.html" %}

    <main>
      <div class="container">
        {% block content %}
		    {% endblock %}
      </div>
    </main>

		{% include "shortener_app/footer.html" %}

		<script src="{% static 'shortener_app/js/main.min.js' %}"></script>
	</body>
</html>
