html {
  /* Positioning */
  position: relative;
  min-height: 100%;
  height: 100%;

  /* Visual */
  background-image: linear-gradient(180deg, #ffe6e6 0%, rgb(230, 200, 200) 100%);
}

body {
  /* Positioning */
  position: relative;
  min-height: 100%;

  /* Box-model */
  padding-top: 5rem;
  padding-bottom: 5rem;

  /* Visual */
  background: inherit !important;
  background-color: inherit !important;
}

.main {
  /* Typography */
  text-align: center;
}

h1 { font-size: 3.5rem; }

h3 { font-size: 1.5rem; }
