{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="mx-auto login-page">
  <div>
    <h1>{% trans "Login" %}</h1>
    <h3>{% trans "Insert email and password" %}</h3>
  </div>
  <div>
    <form method="post" class="mt-5 mb-4">
      {% csrf_token %}
      <input name="username" type="email" class="search d-block mx-auto mt-3 w-100" placeholder="{% trans 'Email' %}">
      <input name="password" type="password" class="search d-block mx-auto mt-3 w-100" placeholder="{% trans 'Password' %}">
      <button type="submit" class="d-block mx-auto mt-3 btn btn-primary w-100">{% trans "LOGIN" %}</button>
    </form>
    <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
  </div>
</div>
{% endblock %}
