{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="mx-auto forgot-password-page">
  <div>
      <h1>{% trans "Reset password" %}</h1>
      <h3>
          {% trans "Insert email and we sent email instructions to reset your password" %}
      </h3>
  </div>
  <div>
    {% include 'registration/errors.html' %}
    <form method="POST" class="mt-5 mb-4">
      {% csrf_token %}
      <input type="email" name="email" class="search d-block mx-auto mt-3 w-100" id="url" placeholder="{% trans 'Email' %}">
      <button type="submit" class="d-block mx-auto mt-3 btn btn-primary w-100">{% trans "RESET" %}</button>
    </form>
  </div>
</div>

{% endblock %}
