{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="mx-auto login-page">
  <div>
    <h1>{% trans 'Register' %}</h1>
    <h3>{% trans 'Insert email and password' %}</h3>
  </div>
  <div>
    {% include 'registration/errors.html' %}
    <form method="post" class="mt-5 mb-4">
      {% csrf_token %}
      <input name="email" type="email" class="search d-block mx-auto mt-3 w-100" id="url" placeholder="{% trans 'Email' %}">
      <input name="password1" type="password" class="search d-block mx-auto mt-3 w-100" id="password1" placeholder="{% trans 'Password' %}">
      <input name="password2" type="password" class="search d-block mx-auto mt-3 w-100" id="password2" placeholder="{% trans 'Confirm password' %}">
      <button type="submit" class="d-block mx-auto mt-3 btn btn-primary w-100">{% trans "REGISTER" %}</button>
    </form>
    <a href="{% url 'login' %}">{% trans 'Already registered? Login' %}</a>
  </div>
</div>
{% endblock %}
