<header class="header-login-signup">

	<div class="header-limiter">

		<h1><a href="/">Cour.fun</a></h1>

		<nav>
			<a href="/">Home</a>
			<a href="#pricing">Pricing</a>
		</nav>

    {% if user.is_authenticated %}
    <ul>
      <li><a href="{% url 'shortener_app:urls' %}">My urls</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		</ul>
    {% else %}
		<ul>
			<li><a href="{% url 'login' %}">Login</a></li>
			<li><a href="{% url 'signup' %}">Sign up</a></li>
		</ul>
    {% endif %}

	</div>

</header>
