{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="url-row mt-4 text-left">
    <h2 class="mr-auto mb-4">{% trans "Email Address" %}</h2>
    <h6 class="mr-auto">{{ user.email }}</h6>
</div>

<div class="url-row mt-4 text-left">
  <div class="d-flex align-items-center">
    {% if subscription_active %}
    <div class="mr-auto">
        <h2 class="mb-4">{% trans "You have premium account plan" %}</h2>
        <h6></h6>
        <p>{% trans "If you cancel the subscription you continue to has access until the end of the period." %}</p>
    </div>
    <a class="btn btn-primary" href="{% url 'payments:payment_cancel' %}">{% trans "Cancel subscription" %}</a>
    {% else %}
    <div class="mr-auto">
        <h2 class="mb-4">{% trans "Premium" %}</h2>
        <h6>1€/{% trans "Month" %}</h6>
    </div>
    <form action="{% url 'payments:payment_checkout' %}" method="POST">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ stripe_public_key }}"
        data-amount="{{ payment_amount }}" data-name="Cour.fun" data-description="Monthly subscription" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto" data-zip-code="true" data-currency="eur">
        </script>
    </form>
    {% endif %}
  </div>
</div>

<div class="url-row mt-4 text-left">
  <h2 class="mr-auto mb-4">API Access</h2>
  {% if api_accesses %}
  {%for api_access in api_accesses %}
  <div class="d-flex align-items-baseline mb-1">
    <p class="mr-auto">{{ api_access.apikey }}</p>
    <form action="{% url 'shortener_app:delete_api_access' api_access.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Delete' %}">
    </form>
  </div>
  {% endfor %}
  {% else %}
  <p>No apikeys</p>
  {% endif %}
  <div class="text-center mt-3">
    <form action="{% url 'shortener_app:create_api_access' %}" method="post">
      {% csrf_token %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Generate apikey' %}">
    </form>
  </div>
</div>

{% endblock %}
