{% extends 'base.html' %}
{% block content %}

<h3 class="hero-title mt-0 is-revealing">Account details</h3>
<h4>Account details</h4>
<ul>
  <li>Username: {{ user.username }}</li>
  <li>Email: {{ user.email }}</li>
</ul>

<h4>Api access</h4>

<ul>
  {% if api_accesses %}
    {%for api_access in api_accesses %}
    <li>
      {{ api_access.apikey }}
      <form action="{% url 'shortener_app:delete_api_access' api_access.id %}" method="post">
        {% csrf_token %}
        <input class="button" type="submit" value="Delete">
      </form>
    </li>
    {% endfor %}
  {% else %}
    <p>No apikeys</p>
  {% endif %}
  <form action="{% url 'shortener_app:create_api_access' %}" method="post">
    {% csrf_token %}
    <input class="button" type="submit" value="Generate apikey">
  </form>
</ul>

{% endblock %}
