{% extends 'base.html' %}
{% block content %}

<h3 class="hero-title mt-0 is-revealing">Stats for: {{ url.full_short_url }}</h3>
<ul>
  <li>
    <p>Total clicks: {{ url.clicks }}</p>
  </li>
</ul>

<canvas id="click_stats_id" width="200" height="200"></canvas>
<canvas id="country_stats_id" width="200" height="200"></canvas>
<canvas id="referal_stats_id" width="200" height="200"></canvas>
<canvas id="browser_stats_id" width="200" height="200"></canvas>
<canvas id="os_stats_id" width="200" height="200"></canvas>

<table>
  <tr>
    <td>Hour</td>
    <td>Count</td>
  </tr>
  {% for stat in click_stats %}
    {% include "shortener_app/stat_object.html" %}
  {% endfor %}
</table>

<table>
  <tr>
    <td>Country</td>
    <td>Count</td>
  </tr>
  {% for stat in country_stats %}
    {% include "shortener_app/stat_object.html" %}
  {% endfor %}
</table>

<table>
  <tr>
    <td>Os Name</td>
    <td>Count</td>
  </tr>
  {% for stat in os_stats %}
    {% include "shortener_app/stat_object.html" %}
  {% endfor %}
</table>

<table>
  <tr>
    <td>Referal</td>
    <td>Count</td>
  </tr>
  {% for stat in referal_stats %}
    {% include "shortener_app/stat_object.html" %}
  {% endfor %}
</table>

<table>
  <tr>
    <td>Browser</td>
    <td>Count</td>
  </tr>
  {% for stat in browser_stats %}
    {% include "shortener_app/stat_object.html" %}
  {% endfor %}
</table>

{% endblock %}

{% block javascript_data %}
<script type="text/javascript">
  var referal_stats = {{ referal_stats_javascript |safe }};
  var country_stats = {{ country_stats_javascript |safe }};
  var browser_stats = {{ browser_stats_javascript |safe }};
  var os_stats = {{ os_stats_javascript |safe }};
  var click_stats = {{ click_stats_javascript |safe }};
</script>
{% endblock %}