{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<h3>{% trans "Your urls" %}</h3>
{% include "shortener_app/shorten_form.html" %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{% trans "Link" %}</th>
      <th scope="col">{% trans "Created on" %}</th>
      <th scope="col">{% trans "Linked to" %}</th>
      <th scope="col">{% trans "Clicks" %}</th>
      <th scope="col">{% trans "Stats" %}</th>
      <th scope="col">{% trans "Delete" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for url in urls %}
  {% include "shortener_app/url.html" %}
  {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript_data %}
<script src="{% static 'shortener_app/js/vendor/clipboard.min.js' %}"></script>
<script src="{% static 'shortener_app/js/components/button-copy.min.js' %}"></script>
{% endblock %}